<section *ngIf="league$ | async as league" class="section">
  <h2 class="title">League - {{ league.name }}</h2>
  <div class="fixed-grid has-3-cols">
    <ul class="grid">
      <li *ngFor="let team of league.teams" class="cell">
        <a href="/teams/{{ team.id }}" class="card">
          <div class="card-image p-4">
            <figure class="image is-square">
              <img [ngSrc]="team.thumbnail" [alt]="team.name" />
            </figure>
          </div>
          <div class="card-content">
            <h3 class="title is-4">{{ team.name }}</h3>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
