<section class="section">
  <form class="field has-addons block" (ngSubmit)="handleSearch()">
    <app-league-search-control
      placeholder="Search a league"
      [formControl]="searchControl"
    />
    <div class="control">
      <button class="button" type="submit">Search</button>
    </div>
  </form>

  <ng-container *ngIf="leagues$ | async as leagues" class="section">
    <a
      *ngFor="let league of leagues"
      href="leagues/{{ league.id }}"
      class="box"
    >
      {{ league.name }}
    </a>
    <div *ngIf="leagues.length < 1" class="notification">
      We did not find anything...
    </div>
  </ng-container>

  <ng-container *ngIf="leaguesLoading$ | async" class="section">
    <div class="skeleton-block"></div>
    <div class="skeleton-block"></div>
    <div class="skeleton-block"></div>
  </ng-container>
</section>
