<section class="section">
  <form class="field has-addons block" (ngSubmit)="handleSearch()">
    <div class="control is-expanded">
      <input
        class="input"
        type="text"
        placeholder="Search a league"
        aria-label="Search a league"
        [formControl]="searchControl"
        [matAutocomplete]="auto"
      />
    </div>

    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredSuggestions$ | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>

    <div class="control">
      <button class="button" type="submit">Search</button>
    </div>
  </form>

  <ng-container *ngIf="leagues$ | async as leagues" class="section">
    <a
      *ngFor="let league of leagues"
      href="leagues/{{ league.id }}"
      class="box"
    >
      {{ league.name }}
    </a>
    <div *ngIf="leagues.length < 1" class="notification">
      We did not find anything...
    </div>
  </ng-container>

  <ng-container *ngIf="leaguesLoading$ | async" class="section">
    <div class="skeleton-block"></div>
    <div class="skeleton-block"></div>
    <div class="skeleton-block"></div>
  </ng-container>
</section>
